i.fas.fa-home {
    color: mediumturquoise;
}
i.fas.fa-credit-card {
    color: green;
}
i.fas.fa-cloud {
    color: red;
}
i.fas.fa-search {
    color: orange;
}
i.fas.fa-link {
    color: teal;
}
i.fas.fa-graduation-cap {
    color: blueviolet;
}
i.fas.fa-folder-open {
    color: cornflowerblue;
}
i.fas.fa-archive {
    color: blue;
}
i.fas.fa-tags {
    color: rebeccapurple;
}
i.fas.fa-bars {
    color: plum;
}
i.fas.fa-address-book {
    color: springgreen;
}
i.fas.fa-images {
    color: lightpink;
}
i.fas.fa-film {
    color: dodgerblue;
}
i.fas.fa-history {
    color: turquoise;
}
i.fas.fa-chart-line {
    color: crimson;
}
i.fas.fa-bolt {
    color: crimson;
}
